* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    overflow-y: scroll;
    scroll-behavior: smooth;

}

body {
    background-color: #ffff;
}

.nav {
    width: 100%;
    height: 4rem;
    border: .1rem solid #83a61d;
    background-color: #83a61d;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo img {
    width: 3.5rem;
    height: 3.5rem;
}

.nav_button a {
    color: #ffff;
    text-decoration: none;
    margin-right: 1.5rem;
    padding: 1.2rem;
    

}

.hero_section {
    /* border:.1rem solid black; */
    width: 100%;
    height:100%;
    max-height:100%;
    background-image: url('Images/Hero_img/Web_hero.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.me {
    /* border: .1rem solid black; */
    text-align: center;
    margin-bottom:2rem;
}

.menu,
.ab,
.gal,
.ing,
.Res,
.ch,
.Rev,
.Loc,
.hrs {
    border: .1rem solid black;
    padding: 5rem;
    margin-bottom:10rem;
    height:auto;
}

.button
{
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.text
{
    margin-bottom:2rem;
    
}

.text h2
{
    margin-bottom:1rem;
}

.cont_c
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.con1 p
{
    border:.1rem solid black;
    width:35rem;
    height:30rem;
}

.fl
{
    display: flex;
    justify-content: center;

    align-items: center;
}

.pra
{
    border:.1rem solid #83a61d;
    padding:1rem;
    width:25rem;
    height:15rem;
    margin-top:1rem;
    text-align: justify;
    font-size:1.6rem;
    border-radius:.5rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;



}

.me1 h3
{
    border:.1rem solid red;
    margin-top:.2rem;
    
}

.cont p
{
    border:.1rem solid red;
    margin-top:.2rem;
}

.b1 button
{
    padding:1rem;
    margin-right:1rem;
    border:.1rem solid #83a61d;
    color:#83a61d;
    background-color:transparent;
    border-radius:.5rem;
}

.b1 button:hover
{
    background-color:#83a61d;
    color:#ffff;
    cursor: pointer;
    transition: all 2s;
    transition-delay:.1s;
}

.images
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.images .img_gal img
{
     /* border:.1rem solid black; */
     border-radius:.2rem;
     width:10rem;
     height:15rem;
     margin-right:.5rem;
     margin-top:.5rem;
}

.images_1
{
    border:.1rem solid black;
}

.img_ing
{
    border:.1rem solid black;
    width:15rem;
    height:15rem;

}

.one, .two,.three
{
    display: flex;
    justify-content:space-between;
    margin-top:.5rem;
    margin-bottom:.5rem;
}

.images_1 .img_ing img
{
    width:15rem;
    height:15rem;
}

.images_2 .img_ch img
{
    width:15rem;
    height:auto;
}

.form
{
      justify-self: center;
     border:.1rem solid black;
     border-radius:.4rem;
     width:25rem;
     padding:2rem;
     margin-top:1rem;
     height:25rem;
     
}
    
.inp input, .inp select
{
        /* border:.1rem solid black; */
        width:100%;
        height:3rem;
        border-radius:.8rem;
        border:.1rem solid #83a61d;
        margin-bottom:1rem;
        padding-right:1rem;
        padding-left:1rem;
        font-size:1.2rem;
            
}

.cut_im img
{
    width:2.5rem;
    height:2.5rem;
    border-radius:50%;
    margin-right:.5rem;
}
.ct
{
    display: flex;
    align-content:center;
}
.cut1
{
    border:.1rem solid black;
    margin-top:1rem;
    padding-left:.5rem;
    padding-top:1rem;
    padding-bottom:2rem ;
    display: flex;
    margin-bottom:1rem;
    background-color:#bcb8b8;

}

.re
{
    margin-left:2rem;

}


.footer 
{
    border: .1rem solid black;
    background-color: #333;
    color: white;
    height: auto;
}